.container{
    text-align: center;
    width: 320px;
    margin: 50px auto;
    box-shadow: 5px 3px 4px pink;
    border-radius: 15px;
    padding: 5px 0px 25px 0px;
    
}
.id , .pwd{
    width: 150px; height:  30px;
    padding: 0px 15px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 8px 0px;
}

.btn{
    background-color: blue;
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 10px 0px 10px 0px;
}
.link{
    color: blue;
    text-decoration: none;
}
.qr{
    margin: 10px 0px 10px 0px;
}