.img{
    width: 300px;
    height: 300px;
}
.color{
    color: orange;
    font-size: 30px;
    font-weight: 500;
}
.title{
    font-weight: 400;
    margin: 20px 0px 15px 2px;
}
.text{
    background-color: teal;
    color: white;
    padding: 25px 10px;
    line-height: 160%;
    width: 400px;
}
.point{
    color: orange;
}